#blog { --main: #f79; }
#patterns { --main: #9f7; }
#projects { --main: #9bf; }

body {
    
    background: var(--main);

    padding: 0;
    margin: 0;

}

#page-head {

    text-align: center;

    font-family: "Sacramento";
    font-size: 6em;
    
    margin: 0;
    margin-top: 1em;

}

#nav-menu {

    background: black;

    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0.4vw;

    text-align: center;

}

#nav-menu .button {

    display: inline-block;

    color: var(--main);

    font-family: "Raleway";
    text-decoration: none;

    margin: 0;
    padding-bottom: 4pt;
    border-bottom: 0.5vw solid var(--main);

    transition: color 700ms ease, background 700ms ease;

    font-size: 2em;
    font-weight: bold;

    width: 31%;

}

#nav-menu .button:hover {

    background: var(--main);
    color: #000;

}

#nav-menu .button.selected {

    background: var(--main);
    color: #000;


}

.page {
    
    text-overflow: ellipsis;

    transition: background 700ms ease;

    position: relative;

    background: #ffff;

    margin: 1em;
    padding: 0.5em;
    padding-left: 4.25em;

}

.page:hover {

    background: #fffa;

}

.page .thumbnail {

    display: inline-block;

    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    width: 4em;

    margin: 0;
    padding: 0;
    
    overflow: hidden;

}

.page .thumbnail img {

    transition: transform 700ms ease, filter 700ms ease;

    object-fit: cover;
    filter: blur(2px) grayscale(35%);
    
    transform: scale(1.1);

    height: 100%;
    width: 100%;

}

.page:hover .thumbnail img {

    filter: blur(0px);
    transform: scale(1);

}

.page .blurb {

    border: 0.25em dashed var(--main);
    border-left: none;

    margin: 0;
    padding: 1em;

}

.page.full {

    padding-left: 0.5em;

}

.page.full .blurb {

    border-left: 0.25em dashed var(--main);

}

.page .title {

    font-family: "Sacramento";
    font-size: 18pt;
    margin: 0;

}

.page .title .timestamp {

    color: var(--main);
    font-family: "Raleway";
    font-size: 9pt;

    margin: 0;
    padding: 0;
    margin-bottom: 0.2em;

}

.page .title .timestamp:before { content: "( "; }
.page .title .timestamp:after { content: " )"; }

.page .blurb {

    font-family: "Raleway";
    font-size: 11pt;

}

img {

    max-width: 100%;
    text-align: center;

}