@import url('https://fonts.googleapis.com/css?family=Dawning+of+a+New+Day|Liu+Jian+Mao+Cao&display=swap');

body {

    background: #eee;
    padding: 0;
    margin: 0;

}

.mobile-body #page-head {

    background: #eee;

    margin-bottom: 16px;

    font-size: 15vw;

    font-family: "Dawning of a New Day";
    text-align: center;

    display: block;
    width: 100%;

    margin-top: 0px;

}

.dot {

    display: inline-block;

    width: 0.5vw;
    height: 0.5vw;

    margin: 0.5vw;

    background: #f39;
    border-radius: 100%;

}

.dot.invert {

    background: #fff;
    margin-left: 16px;
    margin-right: 16px;

}

h3 {

    margin: 0;

}

.page {

    background: #f39;
    color: #fff;
    /* background: #5af; */

    padding: 8px;
    margin: 12px;

}

.page h3 {

    font-family: "Dawning of a New Day";
    font-size: 24pt;

}

.outline {

    width: calc(100% - 17px);
    border: 1px dashed #fff;
    margin: 0px;
    padding: 8px;

}

.mobile-body #page-content {

    width: 100%;

}

.mobile-menu {

    display: none;

}

.mobile-body .mobile-menu {

    display: block;
    width: 100%;
    text-align: center;

    margin-bottom: 80px;

}

#page-content {

    margin: 0;
    padding: 0;

    height: 100vh;
    width: 60%;

    overflow: auto;

}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #fff1;
}

::-webkit-scrollbar-thumb {
    background: #f397;
}

::-webkit-scrollbar-thumb:hover {
    background: #f39a;
}

.mobile-body #sidebar {

    display: none;

}

#sidebar {

    position: fixed;
    top: 0px;
    left: 60%;

    height: 100%;
    width: 40%;

    background: #f39;

}

#sidebar .outline {

    width: calc(100% - 25px);

}

#sidebar > .outline {

    height: 100%;
    margin-left: 8px;
    border: none;
    border-left: 1px dashed #fff;

}

#blurb {

    color: #fff;

    margin-bottom: 16px;

}

#blurb .logo {

    border-radius: 100%;
    border: 5px solid #f39;
    width: 100px;
    height: 100px;

}

#blurb .logo-wrapper {

    width: 110px;
    height: 110px;

    position: relative;
    left: calc(50% - 50px);
    top: 50px;

    display: inline-block;
    border-radius: 100%;
    border: 1px dashed #fff;

}

.button {

    text-decoration: none;

    display: block;

    color: #fff;

    transition: background 500ms ease, color 500ms ease;

    border-left: 4px solid #fff;
    padding: 4px;
    padding-left: 8px;

}

.button.selected {

    background: #fff;
    color: #f39;

}

.button:not(.selected):hover {

    background: #fff;
    color: #f39;
    cursor: pointer;

}

.mobile-button {

    padding: 8px;
    margin: 4px;

    text-decoration: none;

    color: #f39;

}

.mobile-button.selected {

    border-bottom: 4px solid #f39;

}

.mobile-button:not(.nobold) {

    font-weight: bold;

}

.blog-button {

    padding: 4px;
    padding-left: 8px;

    border-left: 4px solid #fff;

    transition: background 500ms ease, color 500ms ease;

}

.blog-button .title {

    margin-bottom: 8px;

    display: block;

}

.blog-button:hover {

    cursor: pointer;

    background: #fff;
    color: #f39;

}

#sidebar-head {

    text-align: right;

    font-size: 5vw;
    color: #fff;

}